.container {

}

.item {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    height: 100px;
}

.img {
    border-radius: 10px;
    width: 150px;
    height: 100px;
}

.description {
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
}
.button {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
    background: #64b3f1;
    height: 25px;
    width: 70px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 1px #0466ac;
    cursor: pointer;
}
.button:hover {
    background: #fff;
    color:dodgerBlue;
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
.location_status {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 10px;
    margin-top: 10px;

}
