.container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.avatar img {
    border-radius: 5px;
    height: 300px;
    width: 300px;
}

.description {
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 5px;
    flex-direction: column;
    display: flex;;
    width: 500px;
    height: 500px;
    color: white;
    font-weight: 700;
}

.contacts {
    display: flex;
    flex-direction: column;

}