.container {
    margin: 20px;
    display: flex;
    justify-content: space-between;

}
.containerForInputs {
    display: flex;
    flex-direction: column;
}
.avatar img {
    border-radius: 5px;
    width: 300px;
}

.description {
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    min-width: 300px;
    max-width: 700px;
    max-height: 700px;
    color: white;
    font-weight: 700;
    flex-direction: row;
    justify-content: space-between;
}
.choosingPhoto {
    margin: 10px;
}
.contacts {
    display: flex;
    flex-direction: column;

}